body {
  background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/cartoons/tom-and-jerry-cheese-hd-wallpaper.jpg");
  background-color: Blue;
  text-align: center;
  font-family: Shermlock;
}
