<!-- <div ng-controller="CheeseController as cc"> -->
  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxQqhGPhoXzGOrrFZsMsmTu_cW9GH5LPiFzwD3SbAX-qVFmFoxuA" width=100 height=100/> -->
  <!-- <img src="images/cheese.png" charset="utf-8"> -->
  <img src="https://s.w.org/images/core/emoji/2.2.1/svg/1f9c0.svg" height="200px" alt="">
  <h2>Cheese</h2>
  <h3>Likes: Being eaten</h3>
  <p>High-five skill: {{cheeseCtrl.skill}}</p>
  <p>High-five quality: {{cheeseCtrl.count}}</p>
  <button type="button" ng-click="cheeseCtrl.getQuality()"name="button">High-Five</button>
