<!-- <div ng-controller="TomController as tc"> -->
<!-- Use controller code in client file (not above), or this will cause
duplication -->
  <img src="http://vignette2.wikia.nocookie.net/tomandjerry/images/6/6d/Tom-tom-and-jerry.png/revision/latest?cb=20140627113049" width="200px" height="100px"/>
  <h2>Tom</h2>
  <h3>Likes: Tomfoolery</h3>
  <p>High-five skill: {{tomCtrl.skill}}</p>
  <p>High-five quality: {{tomCtrl.count}}</p>
  <button type="button" ng-click="tomCtrl.getQuality()"name="button">High-Five</button>
